.hint-button {
    -fx-background-color: linear-gradient(to bottom, #b3b5bb, #9fa2a8);
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-padding: 15 25;
    -fx-background-radius: 15;
}

.hint-button:hover {
    -fx-background-color: linear-gradient(to bottom, #b3b5bb, #7d7e85);
}

.hint-button:pressed {
    -fx-background-color: linear-gradient(to bottom, #b3b5bb, #979aa3);
}
