.dialog-pane {
    -fx-background-color: linear-gradient(to bottom, #b3b5bb, #94969c);
    -fx-border-color: #f1a208;
    -fx-border-width: 2;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

.header-panel {
    -fx-background-color: transparent;
    -fx-text-fill: #f1a208;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

.content {
    -fx-background-color: transparent;
    -fx-text-fill: #b3b5bb;
    -fx-font-size: 14px;
}
